/* Waybar Style Configuration */

@define-color bg-window #1e2030;
@define-color bg-current-workspace #a6da95;
@define-color bg-alt #181926;
@define-color active-workspace-text #181926;
@define-color text-normal #cdd6f4;
@define-color text-muted #949cbb;

@define-color green #a6da95;
@define-color flamingo #f2cdcd;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color sky #89dceb;
@define-color blue #89b4fa;
@define-color lavender #b4befe;


* {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  font-family: "Mono Lisa", "JetBrainsMono Nerd Font", sans-serif;
  font-size: 15px;
}

window#waybar {
  background-color: alpha(@bg-window, 0.9);
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

/* Workspaces */
#workspaces {
  background-color: transparent;
  margin: 2px 1px 3px 1px;
  padding: 0px 1px;
  border: 0px;
}

#workspaces button {
  color: @text-normal;
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background: @bg-current-workspace;
  color: @active-workspace-text;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @green;
  background-color: @bg-alt;
}

#clock {
  padding: 0px 20px;
  margin: 6px 4px 7px;
  border-radius: 15px;
  border: 0px;
  background-color: @bg-alt;
  color: @text-normal;
  opacity: 1;
}

/* Tray */
#tray {
  background-color: alpha(@bg-alt, 0.3);
  margin: 4px 0;
  padding: 0 8px;
  border-radius: 8px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}


/* Custom expand icon */
#custom-expand-icon {
  margin-right: 4px;
  padding: 0 8px;
  color: @bg-alt;
}

/* Tooltip styling */
tooltip {
  background-color: @bg-alt;
  color: @text-normal;
  border: 1px solid @bg-alt;
  border-radius: 8px;
  padding: 8px;
}

tooltip label {
  color: @text-normal;
}

#cpu,
#memory,
#pulseaudio { 
  padding: 0px 8px;
  margin: 6px 4px 7px;
  border-radius: 15px;
  border: 0px;
  color: @active-workspace-text;
  opacity: 0.7;
}

#pulseaudio {
  background-color:@red;
}

#memory {
  background-color: @lavender;
}

#cpu {
  background-color: @peach;
}

#clock:hover,
#cpu:hover,
#memory:hover,
#bluetooth:hover,
#pulseaudio:hover {
  opacity: 1;
}

#pulseaudio.muted { color: @text-muted; }
#pulseaudio.bluetooth { color: @green; }
